<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/findaccountant.css}" rel="stylesheet" />
	<title>MyTaxApp</title>



</head>
<body>
	<header class="header">
		<img class="logo" th:src="@{/img/logo.png}" height="100" width="100">
		<nav class="navbar">
			<!--<p class="navitem">Welcome Back  <span sec:authentication="name"></span></p>-->
			<a th:href="@{/accountant/dashboard}" class="navitem">Dashboard</a>
			<a th:href="@{/accountant/profileForm}" class="navitem">New Profile</a>
			<a th:href="@{/logout}" class="navitem">Logout</a>
			
		</nav>
	
	</header>

	<main class="content">
		<div th:each="accountants : ${accountants}" class="container">
		
		
			<div class="name" th:text="${accountants.name} + ' ' + ${accountants.lastName}"></div>
			<div class="info" th:text="${accountants.email}"></div>
			<div class="info" th:text="${accountants.id}"></div>
			<div class="info" th:text="${accountants.city}"></div>
			<div class="info" th:text="${accountants.phone}"></div>
			<div class="info" th:text="${accountants.specialty}"></div>
			<div class="info" th:text="${accountants.language}"></div>
			<div class="img"  th:text="${accountants.picture}"></div>
			<div class="info" th:text="${accountants.price}"></div>
			<div class="info" th:text="${accountants.aboutYou}"></div>
			<a th:href="@{/accountant/updateProfile/{id}(id=${accountants.id})}" class="navitem">Edit</a>
			<a th:href="@{/accountant/deleteProfile/{id}(id=${accountants.id})}" class="navitem">Delete</a>
		
		
		</div>
	</main>

</body>
</html>