<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head >
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/profile.css}" rel="stylesheet" />
<title>MyTaxApp</title>

</head>
<body>

	<div class="container">
		<div class="form-image">
			<img th:src="@{/img/profile.svg}">
		</div>
	
	 <div class="form">
		<form th:object="${requestMyProfile}" action="/accountant/myProfile"  method="POST" >
			<div class="form-header">
					<div class="title">
						<h1>Profile</h1>
					</div>
			</div>
			<div class="input-group">
				<div class="input-box">
					<label for="name">First Name</label>
					<input th:field="*{name}"  th:errorclass="is-invalid" placeholder="first name">
				</div>
				<div class="input-box">
					<label for="lastName">Last Name</label>
					<input th:field="*{lastName}" th:errorclass="is-invalid" placeholder="last name">
				</div>
				<div class="input-box">
					<label for="email">Email</label>
					<input th:field="*{email}"  th:errorclass="is-invalid"  placeholder="email">
				</div>
				<div class="input-box">
					<label for="city">City</label>
					<input th:field="*{city}" th:errorclass="is-invalid" placeholder="city">
				</div>
				<div class="input-box">
					<label for="phone">Phone</label>
					<input th:field="*{phone}" th:errorclass="is-invalid" placeholder="Phone Number">
				</div>
				<div class="input-box">
					<label for="specialty">Specialty</label>
					<input th:field="*{specialty}" th:errorclass="is-invalid" placeholder="specialty">
				</div>
				<div class="input-box">
					<label for="language">Language</label>
					<input th:field="*{language}" th:errorclass="is-invalid" placeholder="language">
				</div>
				<div class="input-box">
					<label for="picture">Picture</label>
					<input th:field="*{picture}" th:errorclass="is-invalid" placeholder="picture">
				</div>
				<div class="input-box">
					<label for="price">Price</label>
					<input th:field="*{price}" th:errorclass="is-invalid" placeholder="price">
				</div>
				<div class="input-box">
					<label for="aboutYou">About you</label>
					<textarea th:field="*{aboutYou}" th:errorclass="is-invalid" placeholder="about you"></textarea>
				</div  >
			</div>
				<div class="continue-button"><button  type="submit">Submit</button></div>
			
		
		</form>
	
		</div>
	</div>

</body>
</html>