<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head >
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{css/register-login.css}" rel="stylesheet" />
<title>MyTaxApp</title>
</head>
<body>
	
	<div class="container">
		<div class="form-image">
			<img th:src="@{/img/login.svg}">
		</div>

		<div class="form" >
			<form th:action="@{/login}" method="post">
				<div class="form-header">
					<div class="title">
						<h1>Login</h1>
					</div>
					<div class="login-button">
						<button><a th:href="@{|/register|}">Register</a></button>
					</div>
				</div>
				<div class="input-group"> 
					<div class="input-box">
						<label for="username">Email</label>
				        <input class="form-control" type="text" name="email" placeholder="email"></input>
		       		</div>
			        <div class="input-box">
				        <label for="password">Password</label>
				        <input class="form-control" type="password" placeholder="Password" name="password" /></input>
			        </div>
			        <div th:if="${param.error}"><p>Email or Password is invalid.</p></div>
			    </div>
		        <div class="continue-button">
						<button class="btn btn-primary" type="Submit" th:text="Login"></button>	
				</div>
				
		
		</form>

			
		</div>
	</div>
</body>

</html>