<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{css/register-login.css}" rel="stylesheet" />
<title>MyTaxApp</title>
</head>
<body>
 
	
	<div class="container">
		<div class="form-image">
			<img th:src="@{/img/register1.svg}">
		</div>
		

		<div class="form" >
			<form th:action="@{/register}" th:object="${user}" method="post" >
				<div class="form-header">
					<div class="title">
						<h1>Register</h1>
					</div>
					<div class="login-button">
						<button><a th:href="@{|/login|}">Login</a></button>
					</div>
				</div>
				<div class="input-group">
					<div class="input-box">
						<label for="firstname">First Name</label>
						<input type="text" th:field="*{firstName}" placeholder="First Name"/>
					</div>
					
					<div class="input-box">
						<label for="lastname">Last Name</label>
					    <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
				    </div>
				    
				    <div class="input-box">
				    	<label for="mobile">Mobile Number</label>
				    	<input type="text" th:field="*{mobile}" placeholder="xxx-xxx-xxxx"/>
				    </div>
				    
				    <div class="input-box">
				    	<label for="lastname">Email</label>
				    	<input type="text" th:field="*{email}" placeholder="Email"/>
				    </div>
				    
				    <div class="input-box">
				    	 <label for="lastname">Password</label>
				   		 <input type="password" th:field="*{password}" placeholder="Password"/>
				    </div>
				    
				    <div class="input-box">
				    	<label for="select">Select The Type of User</label>
					    <select th:field="*{role}" required>
					      <option value="">Select</option>
					      <option value="ACCOUNTANT">ACCOUNTANT</option>
					      <option value="USER">USER</option>
					    </select> <br/><br/>
				    </div>
				    
			    </div>
			    	<div class="continue-button">
						<button type="submit">Register</button>
					</div>
					
					    <span th:utext="${successMessage}"></span>
					<div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
				      	<ul th:each="data : ${bindingResult.getAllErrors()}">
				        <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
				      </ul>
			      	</div>
		</form>

		</div>
	</div>
</body>

</html>